<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vortex.training.platform.mapper.LabelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vortex.training.platform.entity.Label">
        <id column="label_id" property="labelId" />
        <result column="label_name" property="labelName" />
        <result column="images" property="images" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="dataset_id" property="datasetId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        label_id, label_name, images, create_time, update_time, dataset_id
    </sql>

    <select id="findPageBy" parameterType="com.vortex.training.platform.dto.LabelFindDto"
            resultType="com.vortex.training.platform.dto.LabelDetailDto">
        SELECT * FROM label
        <where>
            <if test="labelName != null">
                <![CDATA[ label.label_name LIKE CONCAT('%',#{labelName} ,'%' )]]>
            </if>
            <if test="datasetId != null">
                AND label.dataset_id = #{datasetId}
            </if>
        </where>
        ORDER BY label.update_time DESC
    </select>
</mapper>
